=begin
#Shortcut API

#Shortcut API

The version of the OpenAPI document: 3.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module Shortcut
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Category
    # Create Category allows you to create a new Category in Shortcut.
    # @param create_category [CreateCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Category]
    def create_category(create_category, opts = {})
      data, _status_code, _headers = create_category_with_http_info(create_category, opts)
      data
    end

    # Create Category
    # Create Category allows you to create a new Category in Shortcut.
    # @param create_category [CreateCategory] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Category, Integer, Hash)>] Category data, response status code and response headers
    def create_category_with_http_info(create_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_category ...'
      end
      # verify the required parameter 'create_category' is set
      if @api_client.config.client_side_validation && create_category.nil?
        fail ArgumentError, "Missing the required parameter 'create_category' when calling DefaultApi.create_category"
      end
      # resource path
      local_var_path = '/api/v3/categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_category)

      # return_type
      return_type = opts[:debug_return_type] || 'Category'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Entity Template
    # Create a new entity template for your organization.
    # @param create_entity_template [CreateEntityTemplate] Request paramaters for creating an entirely new entity template.
    # @param [Hash] opts the optional parameters
    # @return [EntityTemplate]
    def create_entity_template(create_entity_template, opts = {})
      data, _status_code, _headers = create_entity_template_with_http_info(create_entity_template, opts)
      data
    end

    # Create Entity Template
    # Create a new entity template for your organization.
    # @param create_entity_template [CreateEntityTemplate] Request paramaters for creating an entirely new entity template.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EntityTemplate, Integer, Hash)>] EntityTemplate data, response status code and response headers
    def create_entity_template_with_http_info(create_entity_template, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_entity_template ...'
      end
      # verify the required parameter 'create_entity_template' is set
      if @api_client.config.client_side_validation && create_entity_template.nil?
        fail ArgumentError, "Missing the required parameter 'create_entity_template' when calling DefaultApi.create_entity_template"
      end
      # resource path
      local_var_path = '/api/v3/entity-templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_entity_template)

      # return_type
      return_type = opts[:debug_return_type] || 'EntityTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_entity_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_entity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Epic
    # Create Epic allows you to create a new Epic in Shortcut.
    # @param create_epic [CreateEpic] 
    # @param [Hash] opts the optional parameters
    # @return [Epic]
    def create_epic(create_epic, opts = {})
      data, _status_code, _headers = create_epic_with_http_info(create_epic, opts)
      data
    end

    # Create Epic
    # Create Epic allows you to create a new Epic in Shortcut.
    # @param create_epic [CreateEpic] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Epic, Integer, Hash)>] Epic data, response status code and response headers
    def create_epic_with_http_info(create_epic, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_epic ...'
      end
      # verify the required parameter 'create_epic' is set
      if @api_client.config.client_side_validation && create_epic.nil?
        fail ArgumentError, "Missing the required parameter 'create_epic' when calling DefaultApi.create_epic"
      end
      # resource path
      local_var_path = '/api/v3/epics'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_epic)

      # return_type
      return_type = opts[:debug_return_type] || 'Epic'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_epic",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_epic\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Epic Comment
    # This endpoint allows you to create a threaded Comment on an Epic.
    # @param epic_public_id [Integer] The ID of the associated Epic.
    # @param create_epic_comment [CreateEpicComment] 
    # @param [Hash] opts the optional parameters
    # @return [ThreadedComment]
    def create_epic_comment(epic_public_id, create_epic_comment, opts = {})
      data, _status_code, _headers = create_epic_comment_with_http_info(epic_public_id, create_epic_comment, opts)
      data
    end

    # Create Epic Comment
    # This endpoint allows you to create a threaded Comment on an Epic.
    # @param epic_public_id [Integer] The ID of the associated Epic.
    # @param create_epic_comment [CreateEpicComment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ThreadedComment, Integer, Hash)>] ThreadedComment data, response status code and response headers
    def create_epic_comment_with_http_info(epic_public_id, create_epic_comment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_epic_comment ...'
      end
      # verify the required parameter 'epic_public_id' is set
      if @api_client.config.client_side_validation && epic_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'epic_public_id' when calling DefaultApi.create_epic_comment"
      end
      # verify the required parameter 'create_epic_comment' is set
      if @api_client.config.client_side_validation && create_epic_comment.nil?
        fail ArgumentError, "Missing the required parameter 'create_epic_comment' when calling DefaultApi.create_epic_comment"
      end
      # resource path
      local_var_path = '/api/v3/epics/{epic-public-id}/comments'.sub('{' + 'epic-public-id' + '}', CGI.escape(epic_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_epic_comment)

      # return_type
      return_type = opts[:debug_return_type] || 'ThreadedComment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_epic_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_epic_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Epic Comment Comment
    # This endpoint allows you to create a nested Comment reply to an existing Epic Comment.
    # @param epic_public_id [Integer] The ID of the associated Epic.
    # @param comment_public_id [Integer] The ID of the parent Epic Comment.
    # @param create_comment_comment [CreateCommentComment] 
    # @param [Hash] opts the optional parameters
    # @return [ThreadedComment]
    def create_epic_comment_comment(epic_public_id, comment_public_id, create_comment_comment, opts = {})
      data, _status_code, _headers = create_epic_comment_comment_with_http_info(epic_public_id, comment_public_id, create_comment_comment, opts)
      data
    end

    # Create Epic Comment Comment
    # This endpoint allows you to create a nested Comment reply to an existing Epic Comment.
    # @param epic_public_id [Integer] The ID of the associated Epic.
    # @param comment_public_id [Integer] The ID of the parent Epic Comment.
    # @param create_comment_comment [CreateCommentComment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ThreadedComment, Integer, Hash)>] ThreadedComment data, response status code and response headers
    def create_epic_comment_comment_with_http_info(epic_public_id, comment_public_id, create_comment_comment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_epic_comment_comment ...'
      end
      # verify the required parameter 'epic_public_id' is set
      if @api_client.config.client_side_validation && epic_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'epic_public_id' when calling DefaultApi.create_epic_comment_comment"
      end
      # verify the required parameter 'comment_public_id' is set
      if @api_client.config.client_side_validation && comment_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_public_id' when calling DefaultApi.create_epic_comment_comment"
      end
      # verify the required parameter 'create_comment_comment' is set
      if @api_client.config.client_side_validation && create_comment_comment.nil?
        fail ArgumentError, "Missing the required parameter 'create_comment_comment' when calling DefaultApi.create_epic_comment_comment"
      end
      # resource path
      local_var_path = '/api/v3/epics/{epic-public-id}/comments/{comment-public-id}'.sub('{' + 'epic-public-id' + '}', CGI.escape(epic_public_id.to_s)).sub('{' + 'comment-public-id' + '}', CGI.escape(comment_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_comment_comment)

      # return_type
      return_type = opts[:debug_return_type] || 'ThreadedComment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_epic_comment_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_epic_comment_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Group
    # @param create_group [CreateGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Group]
    def create_group(create_group, opts = {})
      data, _status_code, _headers = create_group_with_http_info(create_group, opts)
      data
    end

    # Create Group
    # @param create_group [CreateGroup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Group, Integer, Hash)>] Group data, response status code and response headers
    def create_group_with_http_info(create_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_group ...'
      end
      # verify the required parameter 'create_group' is set
      if @api_client.config.client_side_validation && create_group.nil?
        fail ArgumentError, "Missing the required parameter 'create_group' when calling DefaultApi.create_group"
      end
      # resource path
      local_var_path = '/api/v3/groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_group)

      # return_type
      return_type = opts[:debug_return_type] || 'Group'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Iteration
    # @param create_iteration [CreateIteration] 
    # @param [Hash] opts the optional parameters
    # @return [Iteration]
    def create_iteration(create_iteration, opts = {})
      data, _status_code, _headers = create_iteration_with_http_info(create_iteration, opts)
      data
    end

    # Create Iteration
    # @param create_iteration [CreateIteration] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Iteration, Integer, Hash)>] Iteration data, response status code and response headers
    def create_iteration_with_http_info(create_iteration, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_iteration ...'
      end
      # verify the required parameter 'create_iteration' is set
      if @api_client.config.client_side_validation && create_iteration.nil?
        fail ArgumentError, "Missing the required parameter 'create_iteration' when calling DefaultApi.create_iteration"
      end
      # resource path
      local_var_path = '/api/v3/iterations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_iteration)

      # return_type
      return_type = opts[:debug_return_type] || 'Iteration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_iteration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_iteration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Label
    # Create Label allows you to create a new Label in Shortcut.
    # @param create_label_params [CreateLabelParams] Request parameters for creating a Label on a Shortcut Story.
    # @param [Hash] opts the optional parameters
    # @return [Label]
    def create_label(create_label_params, opts = {})
      data, _status_code, _headers = create_label_with_http_info(create_label_params, opts)
      data
    end

    # Create Label
    # Create Label allows you to create a new Label in Shortcut.
    # @param create_label_params [CreateLabelParams] Request parameters for creating a Label on a Shortcut Story.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Label, Integer, Hash)>] Label data, response status code and response headers
    def create_label_with_http_info(create_label_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_label ...'
      end
      # verify the required parameter 'create_label_params' is set
      if @api_client.config.client_side_validation && create_label_params.nil?
        fail ArgumentError, "Missing the required parameter 'create_label_params' when calling DefaultApi.create_label"
      end
      # resource path
      local_var_path = '/api/v3/labels'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_label_params)

      # return_type
      return_type = opts[:debug_return_type] || 'Label'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_label",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Linked File
    # Create Linked File allows you to create a new Linked File in Shortcut.
    # @param create_linked_file [CreateLinkedFile] 
    # @param [Hash] opts the optional parameters
    # @return [LinkedFile]
    def create_linked_file(create_linked_file, opts = {})
      data, _status_code, _headers = create_linked_file_with_http_info(create_linked_file, opts)
      data
    end

    # Create Linked File
    # Create Linked File allows you to create a new Linked File in Shortcut.
    # @param create_linked_file [CreateLinkedFile] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkedFile, Integer, Hash)>] LinkedFile data, response status code and response headers
    def create_linked_file_with_http_info(create_linked_file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_linked_file ...'
      end
      # verify the required parameter 'create_linked_file' is set
      if @api_client.config.client_side_validation && create_linked_file.nil?
        fail ArgumentError, "Missing the required parameter 'create_linked_file' when calling DefaultApi.create_linked_file"
      end
      # resource path
      local_var_path = '/api/v3/linked-files'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_linked_file)

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedFile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_linked_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_linked_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Milestone
    # Create Milestone allows you to create a new Milestone in Shortcut.
    # @param create_milestone [CreateMilestone] 
    # @param [Hash] opts the optional parameters
    # @return [Milestone]
    def create_milestone(create_milestone, opts = {})
      data, _status_code, _headers = create_milestone_with_http_info(create_milestone, opts)
      data
    end

    # Create Milestone
    # Create Milestone allows you to create a new Milestone in Shortcut.
    # @param create_milestone [CreateMilestone] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Milestone, Integer, Hash)>] Milestone data, response status code and response headers
    def create_milestone_with_http_info(create_milestone, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_milestone ...'
      end
      # verify the required parameter 'create_milestone' is set
      if @api_client.config.client_side_validation && create_milestone.nil?
        fail ArgumentError, "Missing the required parameter 'create_milestone' when calling DefaultApi.create_milestone"
      end
      # resource path
      local_var_path = '/api/v3/milestones'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_milestone)

      # return_type
      return_type = opts[:debug_return_type] || 'Milestone'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_milestone",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_milestone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Multiple Stories
    # Create Multiple Stories allows you to create multiple stories in a single request using the same syntax as [Create Story](https://shortcut.com/api/#create-story).
    # @param create_stories [CreateStories] 
    # @param [Hash] opts the optional parameters
    # @return [Array<StorySlim>]
    def create_multiple_stories(create_stories, opts = {})
      data, _status_code, _headers = create_multiple_stories_with_http_info(create_stories, opts)
      data
    end

    # Create Multiple Stories
    # Create Multiple Stories allows you to create multiple stories in a single request using the same syntax as [Create Story](https://shortcut.com/api/#create-story).
    # @param create_stories [CreateStories] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<StorySlim>, Integer, Hash)>] Array<StorySlim> data, response status code and response headers
    def create_multiple_stories_with_http_info(create_stories, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_multiple_stories ...'
      end
      # verify the required parameter 'create_stories' is set
      if @api_client.config.client_side_validation && create_stories.nil?
        fail ArgumentError, "Missing the required parameter 'create_stories' when calling DefaultApi.create_multiple_stories"
      end
      # resource path
      local_var_path = '/api/v3/stories/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_stories)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<StorySlim>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_multiple_stories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_multiple_stories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Project
    # Create Project is used to create a new Shortcut Project.
    # @param create_project [CreateProject] 
    # @param [Hash] opts the optional parameters
    # @return [Project]
    def create_project(create_project, opts = {})
      data, _status_code, _headers = create_project_with_http_info(create_project, opts)
      data
    end

    # Create Project
    # Create Project is used to create a new Shortcut Project.
    # @param create_project [CreateProject] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Project, Integer, Hash)>] Project data, response status code and response headers
    def create_project_with_http_info(create_project, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_project ...'
      end
      # verify the required parameter 'create_project' is set
      if @api_client.config.client_side_validation && create_project.nil?
        fail ArgumentError, "Missing the required parameter 'create_project' when calling DefaultApi.create_project"
      end
      # resource path
      local_var_path = '/api/v3/projects'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_project)

      # return_type
      return_type = opts[:debug_return_type] || 'Project'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Story
    # Create Story is used to add a new story to your Shortcut.
    # @param create_story_params [CreateStoryParams] Request parameters for creating a story.
    # @param [Hash] opts the optional parameters
    # @return [Story]
    def create_story(create_story_params, opts = {})
      data, _status_code, _headers = create_story_with_http_info(create_story_params, opts)
      data
    end

    # Create Story
    # Create Story is used to add a new story to your Shortcut.
    # @param create_story_params [CreateStoryParams] Request parameters for creating a story.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Story, Integer, Hash)>] Story data, response status code and response headers
    def create_story_with_http_info(create_story_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_story ...'
      end
      # verify the required parameter 'create_story_params' is set
      if @api_client.config.client_side_validation && create_story_params.nil?
        fail ArgumentError, "Missing the required parameter 'create_story_params' when calling DefaultApi.create_story"
      end
      # resource path
      local_var_path = '/api/v3/stories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_story_params)

      # return_type
      return_type = opts[:debug_return_type] || 'Story'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_story",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_story\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Story Comment
    # Create Comment allows you to create a Comment on any Story.
    # @param story_public_id [Integer] The ID of the Story that the Comment is in.
    # @param create_story_comment [CreateStoryComment] 
    # @param [Hash] opts the optional parameters
    # @return [StoryComment]
    def create_story_comment(story_public_id, create_story_comment, opts = {})
      data, _status_code, _headers = create_story_comment_with_http_info(story_public_id, create_story_comment, opts)
      data
    end

    # Create Story Comment
    # Create Comment allows you to create a Comment on any Story.
    # @param story_public_id [Integer] The ID of the Story that the Comment is in.
    # @param create_story_comment [CreateStoryComment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoryComment, Integer, Hash)>] StoryComment data, response status code and response headers
    def create_story_comment_with_http_info(story_public_id, create_story_comment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_story_comment ...'
      end
      # verify the required parameter 'story_public_id' is set
      if @api_client.config.client_side_validation && story_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_public_id' when calling DefaultApi.create_story_comment"
      end
      # verify the required parameter 'create_story_comment' is set
      if @api_client.config.client_side_validation && create_story_comment.nil?
        fail ArgumentError, "Missing the required parameter 'create_story_comment' when calling DefaultApi.create_story_comment"
      end
      # resource path
      local_var_path = '/api/v3/stories/{story-public-id}/comments'.sub('{' + 'story-public-id' + '}', CGI.escape(story_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_story_comment)

      # return_type
      return_type = opts[:debug_return_type] || 'StoryComment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_story_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_story_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Story Link
    # Story Links (called Story Relationships in the UI) allow you create semantic relationships between two stories. The parameters read like an active voice grammatical sentence:  subject -> verb -> object.  The subject story acts on the object Story; the object story is the direct object of the sentence.  The subject story \"blocks\", \"duplicates\", or \"relates to\" the object story.  Examples: - \"story 5 blocks story 6” -- story 6 is now \"blocked\" until story 5 is moved to a Done workflow state. - \"story 2 duplicates story 1” -- Story 2 represents the same body of work as Story 1 (and should probably be archived). - \"story 7 relates to story 3”
    # @param create_story_link [CreateStoryLink] 
    # @param [Hash] opts the optional parameters
    # @return [StoryLink]
    def create_story_link(create_story_link, opts = {})
      data, _status_code, _headers = create_story_link_with_http_info(create_story_link, opts)
      data
    end

    # Create Story Link
    # Story Links (called Story Relationships in the UI) allow you create semantic relationships between two stories. The parameters read like an active voice grammatical sentence:  subject -&gt; verb -&gt; object.  The subject story acts on the object Story; the object story is the direct object of the sentence.  The subject story \&quot;blocks\&quot;, \&quot;duplicates\&quot;, or \&quot;relates to\&quot; the object story.  Examples: - \&quot;story 5 blocks story 6” -- story 6 is now \&quot;blocked\&quot; until story 5 is moved to a Done workflow state. - \&quot;story 2 duplicates story 1” -- Story 2 represents the same body of work as Story 1 (and should probably be archived). - \&quot;story 7 relates to story 3”
    # @param create_story_link [CreateStoryLink] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoryLink, Integer, Hash)>] StoryLink data, response status code and response headers
    def create_story_link_with_http_info(create_story_link, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_story_link ...'
      end
      # verify the required parameter 'create_story_link' is set
      if @api_client.config.client_side_validation && create_story_link.nil?
        fail ArgumentError, "Missing the required parameter 'create_story_link' when calling DefaultApi.create_story_link"
      end
      # resource path
      local_var_path = '/api/v3/story-links'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_story_link)

      # return_type
      return_type = opts[:debug_return_type] || 'StoryLink'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_story_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_story_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Story Reaction
    # Create a reaction to a story comment.
    # @param story_public_id [Integer] The ID of the Story that the Comment is in.
    # @param comment_public_id [Integer] The ID of the Comment.
    # @param create_or_delete_story_reaction [CreateOrDeleteStoryReaction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<StoryReaction>]
    def create_story_reaction(story_public_id, comment_public_id, create_or_delete_story_reaction, opts = {})
      data, _status_code, _headers = create_story_reaction_with_http_info(story_public_id, comment_public_id, create_or_delete_story_reaction, opts)
      data
    end

    # Create Story Reaction
    # Create a reaction to a story comment.
    # @param story_public_id [Integer] The ID of the Story that the Comment is in.
    # @param comment_public_id [Integer] The ID of the Comment.
    # @param create_or_delete_story_reaction [CreateOrDeleteStoryReaction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<StoryReaction>, Integer, Hash)>] Array<StoryReaction> data, response status code and response headers
    def create_story_reaction_with_http_info(story_public_id, comment_public_id, create_or_delete_story_reaction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_story_reaction ...'
      end
      # verify the required parameter 'story_public_id' is set
      if @api_client.config.client_side_validation && story_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_public_id' when calling DefaultApi.create_story_reaction"
      end
      # verify the required parameter 'comment_public_id' is set
      if @api_client.config.client_side_validation && comment_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_public_id' when calling DefaultApi.create_story_reaction"
      end
      # verify the required parameter 'create_or_delete_story_reaction' is set
      if @api_client.config.client_side_validation && create_or_delete_story_reaction.nil?
        fail ArgumentError, "Missing the required parameter 'create_or_delete_story_reaction' when calling DefaultApi.create_story_reaction"
      end
      # resource path
      local_var_path = '/api/v3/stories/{story-public-id}/comments/{comment-public-id}/reactions'.sub('{' + 'story-public-id' + '}', CGI.escape(story_public_id.to_s)).sub('{' + 'comment-public-id' + '}', CGI.escape(comment_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_or_delete_story_reaction)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<StoryReaction>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_story_reaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_story_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Task
    # Create Task is used to create a new task in a Story.
    # @param story_public_id [Integer] The ID of the Story that the Task will be in.
    # @param create_task [CreateTask] 
    # @param [Hash] opts the optional parameters
    # @return [Task]
    def create_task(story_public_id, create_task, opts = {})
      data, _status_code, _headers = create_task_with_http_info(story_public_id, create_task, opts)
      data
    end

    # Create Task
    # Create Task is used to create a new task in a Story.
    # @param story_public_id [Integer] The ID of the Story that the Task will be in.
    # @param create_task [CreateTask] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Task, Integer, Hash)>] Task data, response status code and response headers
    def create_task_with_http_info(story_public_id, create_task, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_task ...'
      end
      # verify the required parameter 'story_public_id' is set
      if @api_client.config.client_side_validation && story_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_public_id' when calling DefaultApi.create_task"
      end
      # verify the required parameter 'create_task' is set
      if @api_client.config.client_side_validation && create_task.nil?
        fail ArgumentError, "Missing the required parameter 'create_task' when calling DefaultApi.create_task"
      end
      # resource path
      local_var_path = '/api/v3/stories/{story-public-id}/tasks'.sub('{' + 'story-public-id' + '}', CGI.escape(story_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_task)

      # return_type
      return_type = opts[:debug_return_type] || 'Task'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Category
    # Delete Category can be used to delete any Category.
    # @param category_public_id [Integer] The unique ID of the Category.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_category(category_public_id, opts = {})
      delete_category_with_http_info(category_public_id, opts)
      nil
    end

    # Delete Category
    # Delete Category can be used to delete any Category.
    # @param category_public_id [Integer] The unique ID of the Category.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_category_with_http_info(category_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_category ...'
      end
      # verify the required parameter 'category_public_id' is set
      if @api_client.config.client_side_validation && category_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_public_id' when calling DefaultApi.delete_category"
      end
      # resource path
      local_var_path = '/api/v3/categories/{category-public-id}'.sub('{' + 'category-public-id' + '}', CGI.escape(category_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Entity Template
    # @param entity_template_public_id [String] The unique ID of the entity template.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_entity_template(entity_template_public_id, opts = {})
      delete_entity_template_with_http_info(entity_template_public_id, opts)
      nil
    end

    # Delete Entity Template
    # @param entity_template_public_id [String] The unique ID of the entity template.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_entity_template_with_http_info(entity_template_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_entity_template ...'
      end
      # verify the required parameter 'entity_template_public_id' is set
      if @api_client.config.client_side_validation && entity_template_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'entity_template_public_id' when calling DefaultApi.delete_entity_template"
      end
      # resource path
      local_var_path = '/api/v3/entity-templates/{entity-template-public-id}'.sub('{' + 'entity-template-public-id' + '}', CGI.escape(entity_template_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_entity_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_entity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Epic
    # Delete Epic can be used to delete the Epic. The only required parameter is Epic ID.
    # @param epic_public_id [Integer] The unique ID of the Epic.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_epic(epic_public_id, opts = {})
      delete_epic_with_http_info(epic_public_id, opts)
      nil
    end

    # Delete Epic
    # Delete Epic can be used to delete the Epic. The only required parameter is Epic ID.
    # @param epic_public_id [Integer] The unique ID of the Epic.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_epic_with_http_info(epic_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_epic ...'
      end
      # verify the required parameter 'epic_public_id' is set
      if @api_client.config.client_side_validation && epic_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'epic_public_id' when calling DefaultApi.delete_epic"
      end
      # resource path
      local_var_path = '/api/v3/epics/{epic-public-id}'.sub('{' + 'epic-public-id' + '}', CGI.escape(epic_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_epic",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_epic\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Epic Comment
    # This endpoint allows you to delete a Comment from an Epic.
    # @param epic_public_id [Integer] The ID of the associated Epic.
    # @param comment_public_id [Integer] The ID of the Comment.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_epic_comment(epic_public_id, comment_public_id, opts = {})
      delete_epic_comment_with_http_info(epic_public_id, comment_public_id, opts)
      nil
    end

    # Delete Epic Comment
    # This endpoint allows you to delete a Comment from an Epic.
    # @param epic_public_id [Integer] The ID of the associated Epic.
    # @param comment_public_id [Integer] The ID of the Comment.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_epic_comment_with_http_info(epic_public_id, comment_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_epic_comment ...'
      end
      # verify the required parameter 'epic_public_id' is set
      if @api_client.config.client_side_validation && epic_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'epic_public_id' when calling DefaultApi.delete_epic_comment"
      end
      # verify the required parameter 'comment_public_id' is set
      if @api_client.config.client_side_validation && comment_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_public_id' when calling DefaultApi.delete_epic_comment"
      end
      # resource path
      local_var_path = '/api/v3/epics/{epic-public-id}/comments/{comment-public-id}'.sub('{' + 'epic-public-id' + '}', CGI.escape(epic_public_id.to_s)).sub('{' + 'comment-public-id' + '}', CGI.escape(comment_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_epic_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_epic_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete File
    # Delete File deletes a previously uploaded file.
    # @param file_public_id [Integer] The File’s unique ID.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_file(file_public_id, opts = {})
      delete_file_with_http_info(file_public_id, opts)
      nil
    end

    # Delete File
    # Delete File deletes a previously uploaded file.
    # @param file_public_id [Integer] The File’s unique ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_file_with_http_info(file_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_file ...'
      end
      # verify the required parameter 'file_public_id' is set
      if @api_client.config.client_side_validation && file_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_public_id' when calling DefaultApi.delete_file"
      end
      # resource path
      local_var_path = '/api/v3/files/{file-public-id}'.sub('{' + 'file-public-id' + '}', CGI.escape(file_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Iteration
    # @param iteration_public_id [Integer] The unique ID of the Iteration.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_iteration(iteration_public_id, opts = {})
      delete_iteration_with_http_info(iteration_public_id, opts)
      nil
    end

    # Delete Iteration
    # @param iteration_public_id [Integer] The unique ID of the Iteration.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_iteration_with_http_info(iteration_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_iteration ...'
      end
      # verify the required parameter 'iteration_public_id' is set
      if @api_client.config.client_side_validation && iteration_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'iteration_public_id' when calling DefaultApi.delete_iteration"
      end
      # resource path
      local_var_path = '/api/v3/iterations/{iteration-public-id}'.sub('{' + 'iteration-public-id' + '}', CGI.escape(iteration_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_iteration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_iteration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Label
    # Delete Label can be used to delete any Label.
    # @param label_public_id [Integer] The unique ID of the Label.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_label(label_public_id, opts = {})
      delete_label_with_http_info(label_public_id, opts)
      nil
    end

    # Delete Label
    # Delete Label can be used to delete any Label.
    # @param label_public_id [Integer] The unique ID of the Label.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_label_with_http_info(label_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_label ...'
      end
      # verify the required parameter 'label_public_id' is set
      if @api_client.config.client_side_validation && label_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_public_id' when calling DefaultApi.delete_label"
      end
      # resource path
      local_var_path = '/api/v3/labels/{label-public-id}'.sub('{' + 'label-public-id' + '}', CGI.escape(label_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_label",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Linked File
    # Delete Linked File can be used to delete any previously attached Linked-File.
    # @param linked_file_public_id [Integer] The unique identifier of the linked file.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_linked_file(linked_file_public_id, opts = {})
      delete_linked_file_with_http_info(linked_file_public_id, opts)
      nil
    end

    # Delete Linked File
    # Delete Linked File can be used to delete any previously attached Linked-File.
    # @param linked_file_public_id [Integer] The unique identifier of the linked file.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_linked_file_with_http_info(linked_file_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_linked_file ...'
      end
      # verify the required parameter 'linked_file_public_id' is set
      if @api_client.config.client_side_validation && linked_file_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'linked_file_public_id' when calling DefaultApi.delete_linked_file"
      end
      # resource path
      local_var_path = '/api/v3/linked-files/{linked-file-public-id}'.sub('{' + 'linked-file-public-id' + '}', CGI.escape(linked_file_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_linked_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_linked_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Milestone
    # Delete Milestone can be used to delete any Milestone.
    # @param milestone_public_id [Integer] The ID of the Milestone.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_milestone(milestone_public_id, opts = {})
      delete_milestone_with_http_info(milestone_public_id, opts)
      nil
    end

    # Delete Milestone
    # Delete Milestone can be used to delete any Milestone.
    # @param milestone_public_id [Integer] The ID of the Milestone.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_milestone_with_http_info(milestone_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_milestone ...'
      end
      # verify the required parameter 'milestone_public_id' is set
      if @api_client.config.client_side_validation && milestone_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'milestone_public_id' when calling DefaultApi.delete_milestone"
      end
      # resource path
      local_var_path = '/api/v3/milestones/{milestone-public-id}'.sub('{' + 'milestone-public-id' + '}', CGI.escape(milestone_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_milestone",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_milestone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Multiple Stories
    # Delete Multiple Stories allows you to delete multiple archived stories at once.
    # @param delete_stories [DeleteStories] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_multiple_stories(delete_stories, opts = {})
      delete_multiple_stories_with_http_info(delete_stories, opts)
      nil
    end

    # Delete Multiple Stories
    # Delete Multiple Stories allows you to delete multiple archived stories at once.
    # @param delete_stories [DeleteStories] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_multiple_stories_with_http_info(delete_stories, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_multiple_stories ...'
      end
      # verify the required parameter 'delete_stories' is set
      if @api_client.config.client_side_validation && delete_stories.nil?
        fail ArgumentError, "Missing the required parameter 'delete_stories' when calling DefaultApi.delete_multiple_stories"
      end
      # resource path
      local_var_path = '/api/v3/stories/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delete_stories)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_multiple_stories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_multiple_stories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Project
    # Delete Project can be used to delete a Project. Projects can only be deleted if all associated Stories are moved or deleted. In the case that the Project cannot be deleted, you will receive a 422 response.
    # @param project_public_id [Integer] The unique ID of the Project.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_project(project_public_id, opts = {})
      delete_project_with_http_info(project_public_id, opts)
      nil
    end

    # Delete Project
    # Delete Project can be used to delete a Project. Projects can only be deleted if all associated Stories are moved or deleted. In the case that the Project cannot be deleted, you will receive a 422 response.
    # @param project_public_id [Integer] The unique ID of the Project.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_project_with_http_info(project_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_project ...'
      end
      # verify the required parameter 'project_public_id' is set
      if @api_client.config.client_side_validation && project_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_public_id' when calling DefaultApi.delete_project"
      end
      # resource path
      local_var_path = '/api/v3/projects/{project-public-id}'.sub('{' + 'project-public-id' + '}', CGI.escape(project_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Story
    # Delete Story can be used to delete any Story.
    # @param story_public_id [Integer] The ID of the Story.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_story(story_public_id, opts = {})
      delete_story_with_http_info(story_public_id, opts)
      nil
    end

    # Delete Story
    # Delete Story can be used to delete any Story.
    # @param story_public_id [Integer] The ID of the Story.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_story_with_http_info(story_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_story ...'
      end
      # verify the required parameter 'story_public_id' is set
      if @api_client.config.client_side_validation && story_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_public_id' when calling DefaultApi.delete_story"
      end
      # resource path
      local_var_path = '/api/v3/stories/{story-public-id}'.sub('{' + 'story-public-id' + '}', CGI.escape(story_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_story",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_story\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Story Comment
    # Delete a Comment from any story.
    # @param story_public_id [Integer] The ID of the Story that the Comment is in.
    # @param comment_public_id [Integer] The ID of the Comment.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_story_comment(story_public_id, comment_public_id, opts = {})
      delete_story_comment_with_http_info(story_public_id, comment_public_id, opts)
      nil
    end

    # Delete Story Comment
    # Delete a Comment from any story.
    # @param story_public_id [Integer] The ID of the Story that the Comment is in.
    # @param comment_public_id [Integer] The ID of the Comment.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_story_comment_with_http_info(story_public_id, comment_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_story_comment ...'
      end
      # verify the required parameter 'story_public_id' is set
      if @api_client.config.client_side_validation && story_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_public_id' when calling DefaultApi.delete_story_comment"
      end
      # verify the required parameter 'comment_public_id' is set
      if @api_client.config.client_side_validation && comment_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_public_id' when calling DefaultApi.delete_story_comment"
      end
      # resource path
      local_var_path = '/api/v3/stories/{story-public-id}/comments/{comment-public-id}'.sub('{' + 'story-public-id' + '}', CGI.escape(story_public_id.to_s)).sub('{' + 'comment-public-id' + '}', CGI.escape(comment_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_story_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_story_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Story Link
    # Removes the relationship between the stories for the given Story Link.
    # @param story_link_public_id [Integer] The unique ID of the Story Link.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_story_link(story_link_public_id, opts = {})
      delete_story_link_with_http_info(story_link_public_id, opts)
      nil
    end

    # Delete Story Link
    # Removes the relationship between the stories for the given Story Link.
    # @param story_link_public_id [Integer] The unique ID of the Story Link.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_story_link_with_http_info(story_link_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_story_link ...'
      end
      # verify the required parameter 'story_link_public_id' is set
      if @api_client.config.client_side_validation && story_link_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_link_public_id' when calling DefaultApi.delete_story_link"
      end
      # resource path
      local_var_path = '/api/v3/story-links/{story-link-public-id}'.sub('{' + 'story-link-public-id' + '}', CGI.escape(story_link_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_story_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_story_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Story Reaction
    # Delete a reaction from any story comment.
    # @param story_public_id [Integer] The ID of the Story that the Comment is in.
    # @param comment_public_id [Integer] The ID of the Comment.
    # @param create_or_delete_story_reaction [CreateOrDeleteStoryReaction] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_story_reaction(story_public_id, comment_public_id, create_or_delete_story_reaction, opts = {})
      delete_story_reaction_with_http_info(story_public_id, comment_public_id, create_or_delete_story_reaction, opts)
      nil
    end

    # Delete Story Reaction
    # Delete a reaction from any story comment.
    # @param story_public_id [Integer] The ID of the Story that the Comment is in.
    # @param comment_public_id [Integer] The ID of the Comment.
    # @param create_or_delete_story_reaction [CreateOrDeleteStoryReaction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_story_reaction_with_http_info(story_public_id, comment_public_id, create_or_delete_story_reaction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_story_reaction ...'
      end
      # verify the required parameter 'story_public_id' is set
      if @api_client.config.client_side_validation && story_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_public_id' when calling DefaultApi.delete_story_reaction"
      end
      # verify the required parameter 'comment_public_id' is set
      if @api_client.config.client_side_validation && comment_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_public_id' when calling DefaultApi.delete_story_reaction"
      end
      # verify the required parameter 'create_or_delete_story_reaction' is set
      if @api_client.config.client_side_validation && create_or_delete_story_reaction.nil?
        fail ArgumentError, "Missing the required parameter 'create_or_delete_story_reaction' when calling DefaultApi.delete_story_reaction"
      end
      # resource path
      local_var_path = '/api/v3/stories/{story-public-id}/comments/{comment-public-id}/reactions'.sub('{' + 'story-public-id' + '}', CGI.escape(story_public_id.to_s)).sub('{' + 'comment-public-id' + '}', CGI.escape(comment_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_or_delete_story_reaction)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_story_reaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_story_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Task
    # Delete Task can be used to delete any previously created Task on a Story.
    # @param story_public_id [Integer] The unique ID of the Story this Task is associated with.
    # @param task_public_id [Integer] The unique ID of the Task.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_task(story_public_id, task_public_id, opts = {})
      delete_task_with_http_info(story_public_id, task_public_id, opts)
      nil
    end

    # Delete Task
    # Delete Task can be used to delete any previously created Task on a Story.
    # @param story_public_id [Integer] The unique ID of the Story this Task is associated with.
    # @param task_public_id [Integer] The unique ID of the Task.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_task_with_http_info(story_public_id, task_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_task ...'
      end
      # verify the required parameter 'story_public_id' is set
      if @api_client.config.client_side_validation && story_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_public_id' when calling DefaultApi.delete_task"
      end
      # verify the required parameter 'task_public_id' is set
      if @api_client.config.client_side_validation && task_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_public_id' when calling DefaultApi.delete_task"
      end
      # resource path
      local_var_path = '/api/v3/stories/{story-public-id}/tasks/{task-public-id}'.sub('{' + 'story-public-id' + '}', CGI.escape(story_public_id.to_s)).sub('{' + 'task-public-id' + '}', CGI.escape(task_public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable Groups
    # Disables Groups for the current workspace2
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def disable_groups(opts = {})
      disable_groups_with_http_info(opts)
      nil
    end

    # Disable Groups
    # Disables Groups for the current workspace2
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def disable_groups_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.disable_groups ...'
      end
      # resource path
      local_var_path = '/api/v3/groups/disable'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.disable_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#disable_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable Iterations
    # Disables Iterations for the current workspace
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def disable_iterations(opts = {})
      disable_iterations_with_http_info(opts)
      nil
    end

    # Disable Iterations
    # Disables Iterations for the current workspace
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def disable_iterations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.disable_iterations ...'
      end
      # resource path
      local_var_path = '/api/v3/iterations/disable'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.disable_iterations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#disable_iterations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable Story Templates
    # Disables the Story Template feature for the given Organization.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def disable_story_templates(opts = {})
      disable_story_templates_with_http_info(opts)
      nil
    end

    # Disable Story Templates
    # Disables the Story Template feature for the given Organization.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def disable_story_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.disable_story_templates ...'
      end
      # resource path
      local_var_path = '/api/v3/entity-templates/disable'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_token']

      new_options = opts.merge(
        :operation => :"DefaultApi.disable_story_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#disable_story_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable Groups
    # Enables Groups for the current workspace2
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def enable_groups(opts = {})
      enable_groups_with_http_info(opts)
      nil
    end

    # Enable Groups
    # Enables Groups for the current workspace2
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def enable_groups_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.enable_groups ...'
      end
      # resource path
[...]
