=begin
#Shortcut API

#Shortcut API

OpenAPI spec version: 3.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.35
=end

module Shortcut
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Category
    # Create Category allows you to create a new Category in Shortcut.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Category]
    def create_category(body, opts = {})
      data, _status_code, _headers = create_category_with_http_info(body, opts)
      data
    end

    # Create Category
    # Create Category allows you to create a new Category in Shortcut.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Category, Integer, Hash)>] Category data, response status code and response headers
    def create_category_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_category ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_category"
      end
      # resource path
      local_var_path = '/api/v3/categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'Category' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Entity Template
    # Create a new entity template for your organization.
    # @param body Request paramaters for creating an entirely new entity template.
    # @param [Hash] opts the optional parameters
    # @return [EntityTemplate]
    def create_entity_template(body, opts = {})
      data, _status_code, _headers = create_entity_template_with_http_info(body, opts)
      data
    end

    # Create Entity Template
    # Create a new entity template for your organization.
    # @param body Request paramaters for creating an entirely new entity template.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EntityTemplate, Integer, Hash)>] EntityTemplate data, response status code and response headers
    def create_entity_template_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_entity_template ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_entity_template"
      end
      # resource path
      local_var_path = '/api/v3/entity-templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'EntityTemplate' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_entity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Epic
    # Create Epic allows you to create a new Epic in Shortcut.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Epic]
    def create_epic(body, opts = {})
      data, _status_code, _headers = create_epic_with_http_info(body, opts)
      data
    end

    # Create Epic
    # Create Epic allows you to create a new Epic in Shortcut.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Epic, Integer, Hash)>] Epic data, response status code and response headers
    def create_epic_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_epic ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_epic"
      end
      # resource path
      local_var_path = '/api/v3/epics'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'Epic' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_epic\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Epic Comment
    # This endpoint allows you to create a threaded Comment on an Epic.
    # @param body 
    # @param epic_public_id The ID of the associated Epic.
    # @param [Hash] opts the optional parameters
    # @return [ThreadedComment]
    def create_epic_comment(body, epic_public_id, opts = {})
      data, _status_code, _headers = create_epic_comment_with_http_info(body, epic_public_id, opts)
      data
    end

    # Create Epic Comment
    # This endpoint allows you to create a threaded Comment on an Epic.
    # @param body 
    # @param epic_public_id The ID of the associated Epic.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ThreadedComment, Integer, Hash)>] ThreadedComment data, response status code and response headers
    def create_epic_comment_with_http_info(body, epic_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_epic_comment ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_epic_comment"
      end
      # verify the required parameter 'epic_public_id' is set
      if @api_client.config.client_side_validation && epic_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'epic_public_id' when calling DefaultApi.create_epic_comment"
      end
      # resource path
      local_var_path = '/api/v3/epics/{epic-public-id}/comments'.sub('{' + 'epic-public-id' + '}', epic_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ThreadedComment' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_epic_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Epic Comment Comment
    # This endpoint allows you to create a nested Comment reply to an existing Epic Comment.
    # @param body 
    # @param epic_public_id The ID of the associated Epic.
    # @param comment_public_id The ID of the parent Epic Comment.
    # @param [Hash] opts the optional parameters
    # @return [ThreadedComment]
    def create_epic_comment_comment(body, epic_public_id, comment_public_id, opts = {})
      data, _status_code, _headers = create_epic_comment_comment_with_http_info(body, epic_public_id, comment_public_id, opts)
      data
    end

    # Create Epic Comment Comment
    # This endpoint allows you to create a nested Comment reply to an existing Epic Comment.
    # @param body 
    # @param epic_public_id The ID of the associated Epic.
    # @param comment_public_id The ID of the parent Epic Comment.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ThreadedComment, Integer, Hash)>] ThreadedComment data, response status code and response headers
    def create_epic_comment_comment_with_http_info(body, epic_public_id, comment_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_epic_comment_comment ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_epic_comment_comment"
      end
      # verify the required parameter 'epic_public_id' is set
      if @api_client.config.client_side_validation && epic_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'epic_public_id' when calling DefaultApi.create_epic_comment_comment"
      end
      # verify the required parameter 'comment_public_id' is set
      if @api_client.config.client_side_validation && comment_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_public_id' when calling DefaultApi.create_epic_comment_comment"
      end
      # resource path
      local_var_path = '/api/v3/epics/{epic-public-id}/comments/{comment-public-id}'.sub('{' + 'epic-public-id' + '}', epic_public_id.to_s).sub('{' + 'comment-public-id' + '}', comment_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ThreadedComment' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_epic_comment_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Group
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Group]
    def create_group(body, opts = {})
      data, _status_code, _headers = create_group_with_http_info(body, opts)
      data
    end

    # Create Group
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Group, Integer, Hash)>] Group data, response status code and response headers
    def create_group_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_group ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_group"
      end
      # resource path
      local_var_path = '/api/v3/groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'Group' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Iteration
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Iteration]
    def create_iteration(body, opts = {})
      data, _status_code, _headers = create_iteration_with_http_info(body, opts)
      data
    end

    # Create Iteration
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Iteration, Integer, Hash)>] Iteration data, response status code and response headers
    def create_iteration_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_iteration ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_iteration"
      end
      # resource path
      local_var_path = '/api/v3/iterations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'Iteration' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_iteration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Label
    # Create Label allows you to create a new Label in Shortcut.
    # @param body Request parameters for creating a Label on a Shortcut Story.
    # @param [Hash] opts the optional parameters
    # @return [Label]
    def create_label(body, opts = {})
      data, _status_code, _headers = create_label_with_http_info(body, opts)
      data
    end

    # Create Label
    # Create Label allows you to create a new Label in Shortcut.
    # @param body Request parameters for creating a Label on a Shortcut Story.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Label, Integer, Hash)>] Label data, response status code and response headers
    def create_label_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_label ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_label"
      end
      # resource path
      local_var_path = '/api/v3/labels'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'Label' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Linked File
    # Create Linked File allows you to create a new Linked File in Shortcut.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [LinkedFile]
    def create_linked_file(body, opts = {})
      data, _status_code, _headers = create_linked_file_with_http_info(body, opts)
      data
    end

    # Create Linked File
    # Create Linked File allows you to create a new Linked File in Shortcut.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkedFile, Integer, Hash)>] LinkedFile data, response status code and response headers
    def create_linked_file_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_linked_file ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_linked_file"
      end
      # resource path
      local_var_path = '/api/v3/linked-files'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'LinkedFile' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_linked_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Milestone
    # Create Milestone allows you to create a new Milestone in Shortcut.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Milestone]
    def create_milestone(body, opts = {})
      data, _status_code, _headers = create_milestone_with_http_info(body, opts)
      data
    end

    # Create Milestone
    # Create Milestone allows you to create a new Milestone in Shortcut.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Milestone, Integer, Hash)>] Milestone data, response status code and response headers
    def create_milestone_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_milestone ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_milestone"
      end
      # resource path
      local_var_path = '/api/v3/milestones'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'Milestone' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_milestone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Multiple Stories
    # Create Multiple Stories allows you to create multiple stories in a single request using the same syntax as [Create Story](https://shortcut.com/api/#create-story).
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<StorySlim>]
    def create_multiple_stories(body, opts = {})
      data, _status_code, _headers = create_multiple_stories_with_http_info(body, opts)
      data
    end

    # Create Multiple Stories
    # Create Multiple Stories allows you to create multiple stories in a single request using the same syntax as [Create Story](https://shortcut.com/api/#create-story).
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<StorySlim>, Integer, Hash)>] Array<StorySlim> data, response status code and response headers
    def create_multiple_stories_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_multiple_stories ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_multiple_stories"
      end
      # resource path
      local_var_path = '/api/v3/stories/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'Array<StorySlim>' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_multiple_stories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Project
    # Create Project is used to create a new Shortcut Project.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Project]
    def create_project(body, opts = {})
      data, _status_code, _headers = create_project_with_http_info(body, opts)
      data
    end

    # Create Project
    # Create Project is used to create a new Shortcut Project.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Project, Integer, Hash)>] Project data, response status code and response headers
    def create_project_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_project ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_project"
      end
      # resource path
      local_var_path = '/api/v3/projects'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'Project' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Story
    # Create Story is used to add a new story to your Shortcut.
    # @param body Request parameters for creating a story.
    # @param [Hash] opts the optional parameters
    # @return [Story]
    def create_story(body, opts = {})
      data, _status_code, _headers = create_story_with_http_info(body, opts)
      data
    end

    # Create Story
    # Create Story is used to add a new story to your Shortcut.
    # @param body Request parameters for creating a story.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Story, Integer, Hash)>] Story data, response status code and response headers
    def create_story_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_story ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_story"
      end
      # resource path
      local_var_path = '/api/v3/stories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'Story' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_story\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Story Comment
    # Create Comment allows you to create a Comment on any Story.
    # @param body 
    # @param story_public_id The ID of the Story that the Comment is in.
    # @param [Hash] opts the optional parameters
    # @return [StoryComment]
    def create_story_comment(body, story_public_id, opts = {})
      data, _status_code, _headers = create_story_comment_with_http_info(body, story_public_id, opts)
      data
    end

    # Create Story Comment
    # Create Comment allows you to create a Comment on any Story.
    # @param body 
    # @param story_public_id The ID of the Story that the Comment is in.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoryComment, Integer, Hash)>] StoryComment data, response status code and response headers
    def create_story_comment_with_http_info(body, story_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_story_comment ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_story_comment"
      end
      # verify the required parameter 'story_public_id' is set
      if @api_client.config.client_side_validation && story_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_public_id' when calling DefaultApi.create_story_comment"
      end
      # resource path
      local_var_path = '/api/v3/stories/{story-public-id}/comments'.sub('{' + 'story-public-id' + '}', story_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'StoryComment' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_story_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Story Link
    # Story Links (called Story Relationships in the UI) allow you create semantic relationships between two stories. The parameters read like an active voice grammatical sentence:  subject -> verb -> object.  The subject story acts on the object Story; the object story is the direct object of the sentence.  The subject story \"blocks\", \"duplicates\", or \"relates to\" the object story.  Examples: - \"story 5 blocks story 6” -- story 6 is now \"blocked\" until story 5 is moved to a Done workflow state. - \"story 2 duplicates story 1” -- Story 2 represents the same body of work as Story 1 (and should probably be archived). - \"story 7 relates to story 3”
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [StoryLink]
    def create_story_link(body, opts = {})
      data, _status_code, _headers = create_story_link_with_http_info(body, opts)
      data
    end

    # Create Story Link
    # Story Links (called Story Relationships in the UI) allow you create semantic relationships between two stories. The parameters read like an active voice grammatical sentence:  subject -&gt; verb -&gt; object.  The subject story acts on the object Story; the object story is the direct object of the sentence.  The subject story \&quot;blocks\&quot;, \&quot;duplicates\&quot;, or \&quot;relates to\&quot; the object story.  Examples: - \&quot;story 5 blocks story 6” -- story 6 is now \&quot;blocked\&quot; until story 5 is moved to a Done workflow state. - \&quot;story 2 duplicates story 1” -- Story 2 represents the same body of work as Story 1 (and should probably be archived). - \&quot;story 7 relates to story 3”
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoryLink, Integer, Hash)>] StoryLink data, response status code and response headers
    def create_story_link_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_story_link ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_story_link"
      end
      # resource path
      local_var_path = '/api/v3/story-links'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'StoryLink' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_story_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Story Reaction
    # Create a reaction to a story comment.
    # @param body 
    # @param story_public_id The ID of the Story that the Comment is in.
    # @param comment_public_id The ID of the Comment.
    # @param [Hash] opts the optional parameters
    # @return [Array<StoryReaction>]
    def create_story_reaction(body, story_public_id, comment_public_id, opts = {})
      data, _status_code, _headers = create_story_reaction_with_http_info(body, story_public_id, comment_public_id, opts)
      data
    end

    # Create Story Reaction
    # Create a reaction to a story comment.
    # @param body 
    # @param story_public_id The ID of the Story that the Comment is in.
    # @param comment_public_id The ID of the Comment.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<StoryReaction>, Integer, Hash)>] Array<StoryReaction> data, response status code and response headers
    def create_story_reaction_with_http_info(body, story_public_id, comment_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_story_reaction ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_story_reaction"
      end
      # verify the required parameter 'story_public_id' is set
      if @api_client.config.client_side_validation && story_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_public_id' when calling DefaultApi.create_story_reaction"
      end
      # verify the required parameter 'comment_public_id' is set
      if @api_client.config.client_side_validation && comment_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_public_id' when calling DefaultApi.create_story_reaction"
      end
      # resource path
      local_var_path = '/api/v3/stories/{story-public-id}/comments/{comment-public-id}/reactions'.sub('{' + 'story-public-id' + '}', story_public_id.to_s).sub('{' + 'comment-public-id' + '}', comment_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'Array<StoryReaction>' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_story_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Task
    # Create Task is used to create a new task in a Story.
    # @param body 
    # @param story_public_id The ID of the Story that the Task will be in.
    # @param [Hash] opts the optional parameters
    # @return [Task]
    def create_task(body, story_public_id, opts = {})
      data, _status_code, _headers = create_task_with_http_info(body, story_public_id, opts)
      data
    end

    # Create Task
    # Create Task is used to create a new task in a Story.
    # @param body 
    # @param story_public_id The ID of the Story that the Task will be in.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Task, Integer, Hash)>] Task data, response status code and response headers
    def create_task_with_http_info(body, story_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_task ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.create_task"
      end
      # verify the required parameter 'story_public_id' is set
      if @api_client.config.client_side_validation && story_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_public_id' when calling DefaultApi.create_task"
      end
      # resource path
      local_var_path = '/api/v3/stories/{story-public-id}/tasks'.sub('{' + 'story-public-id' + '}', story_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'Task' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Category
    # Delete Category can be used to delete any Category.
    # @param category_public_id The unique ID of the Category.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_category(category_public_id, opts = {})
      delete_category_with_http_info(category_public_id, opts)
      nil
    end

    # Delete Category
    # Delete Category can be used to delete any Category.
    # @param category_public_id The unique ID of the Category.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_category_with_http_info(category_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_category ...'
      end
      # verify the required parameter 'category_public_id' is set
      if @api_client.config.client_side_validation && category_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_public_id' when calling DefaultApi.delete_category"
      end
      # resource path
      local_var_path = '/api/v3/categories/{category-public-id}'.sub('{' + 'category-public-id' + '}', category_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Entity Template
    # @param entity_template_public_id The unique ID of the entity template.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_entity_template(entity_template_public_id, opts = {})
      delete_entity_template_with_http_info(entity_template_public_id, opts)
      nil
    end

    # Delete Entity Template
    # @param entity_template_public_id The unique ID of the entity template.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_entity_template_with_http_info(entity_template_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_entity_template ...'
      end
      # verify the required parameter 'entity_template_public_id' is set
      if @api_client.config.client_side_validation && entity_template_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'entity_template_public_id' when calling DefaultApi.delete_entity_template"
      end
      # resource path
      local_var_path = '/api/v3/entity-templates/{entity-template-public-id}'.sub('{' + 'entity-template-public-id' + '}', entity_template_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_entity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Epic
    # Delete Epic can be used to delete the Epic. The only required parameter is Epic ID.
    # @param epic_public_id The unique ID of the Epic.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_epic(epic_public_id, opts = {})
      delete_epic_with_http_info(epic_public_id, opts)
      nil
    end

    # Delete Epic
    # Delete Epic can be used to delete the Epic. The only required parameter is Epic ID.
    # @param epic_public_id The unique ID of the Epic.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_epic_with_http_info(epic_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_epic ...'
      end
      # verify the required parameter 'epic_public_id' is set
      if @api_client.config.client_side_validation && epic_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'epic_public_id' when calling DefaultApi.delete_epic"
      end
      # resource path
      local_var_path = '/api/v3/epics/{epic-public-id}'.sub('{' + 'epic-public-id' + '}', epic_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_epic\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Epic Comment
    # This endpoint allows you to delete a Comment from an Epic.
    # @param epic_public_id The ID of the associated Epic.
    # @param comment_public_id The ID of the Comment.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_epic_comment(epic_public_id, comment_public_id, opts = {})
      delete_epic_comment_with_http_info(epic_public_id, comment_public_id, opts)
      nil
    end

    # Delete Epic Comment
    # This endpoint allows you to delete a Comment from an Epic.
    # @param epic_public_id The ID of the associated Epic.
    # @param comment_public_id The ID of the Comment.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_epic_comment_with_http_info(epic_public_id, comment_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_epic_comment ...'
      end
      # verify the required parameter 'epic_public_id' is set
      if @api_client.config.client_side_validation && epic_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'epic_public_id' when calling DefaultApi.delete_epic_comment"
      end
      # verify the required parameter 'comment_public_id' is set
      if @api_client.config.client_side_validation && comment_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_public_id' when calling DefaultApi.delete_epic_comment"
      end
      # resource path
      local_var_path = '/api/v3/epics/{epic-public-id}/comments/{comment-public-id}'.sub('{' + 'epic-public-id' + '}', epic_public_id.to_s).sub('{' + 'comment-public-id' + '}', comment_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_epic_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete File
    # Delete File deletes a previously uploaded file.
    # @param file_public_id The File’s unique ID.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_file(file_public_id, opts = {})
      delete_file_with_http_info(file_public_id, opts)
      nil
    end

    # Delete File
    # Delete File deletes a previously uploaded file.
    # @param file_public_id The File’s unique ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_file_with_http_info(file_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_file ...'
      end
      # verify the required parameter 'file_public_id' is set
      if @api_client.config.client_side_validation && file_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_public_id' when calling DefaultApi.delete_file"
      end
      # resource path
      local_var_path = '/api/v3/files/{file-public-id}'.sub('{' + 'file-public-id' + '}', file_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Iteration
    # @param iteration_public_id The unique ID of the Iteration.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_iteration(iteration_public_id, opts = {})
      delete_iteration_with_http_info(iteration_public_id, opts)
      nil
    end

    # Delete Iteration
    # @param iteration_public_id The unique ID of the Iteration.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_iteration_with_http_info(iteration_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_iteration ...'
      end
      # verify the required parameter 'iteration_public_id' is set
      if @api_client.config.client_side_validation && iteration_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'iteration_public_id' when calling DefaultApi.delete_iteration"
      end
      # resource path
      local_var_path = '/api/v3/iterations/{iteration-public-id}'.sub('{' + 'iteration-public-id' + '}', iteration_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_iteration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Label
    # Delete Label can be used to delete any Label.
    # @param label_public_id The unique ID of the Label.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_label(label_public_id, opts = {})
      delete_label_with_http_info(label_public_id, opts)
      nil
    end

    # Delete Label
    # Delete Label can be used to delete any Label.
    # @param label_public_id The unique ID of the Label.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_label_with_http_info(label_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_label ...'
      end
      # verify the required parameter 'label_public_id' is set
      if @api_client.config.client_side_validation && label_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_public_id' when calling DefaultApi.delete_label"
      end
      # resource path
      local_var_path = '/api/v3/labels/{label-public-id}'.sub('{' + 'label-public-id' + '}', label_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Linked File
    # Delete Linked File can be used to delete any previously attached Linked-File.
    # @param linked_file_public_id The unique identifier of the linked file.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_linked_file(linked_file_public_id, opts = {})
      delete_linked_file_with_http_info(linked_file_public_id, opts)
      nil
    end

    # Delete Linked File
    # Delete Linked File can be used to delete any previously attached Linked-File.
    # @param linked_file_public_id The unique identifier of the linked file.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_linked_file_with_http_info(linked_file_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_linked_file ...'
      end
      # verify the required parameter 'linked_file_public_id' is set
      if @api_client.config.client_side_validation && linked_file_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'linked_file_public_id' when calling DefaultApi.delete_linked_file"
      end
      # resource path
      local_var_path = '/api/v3/linked-files/{linked-file-public-id}'.sub('{' + 'linked-file-public-id' + '}', linked_file_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_linked_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Milestone
    # Delete Milestone can be used to delete any Milestone.
    # @param milestone_public_id The ID of the Milestone.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_milestone(milestone_public_id, opts = {})
      delete_milestone_with_http_info(milestone_public_id, opts)
      nil
    end

    # Delete Milestone
    # Delete Milestone can be used to delete any Milestone.
    # @param milestone_public_id The ID of the Milestone.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_milestone_with_http_info(milestone_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_milestone ...'
      end
      # verify the required parameter 'milestone_public_id' is set
      if @api_client.config.client_side_validation && milestone_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'milestone_public_id' when calling DefaultApi.delete_milestone"
      end
      # resource path
      local_var_path = '/api/v3/milestones/{milestone-public-id}'.sub('{' + 'milestone-public-id' + '}', milestone_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_milestone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Multiple Stories
    # Delete Multiple Stories allows you to delete multiple archived stories at once.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_multiple_stories(body, opts = {})
      delete_multiple_stories_with_http_info(body, opts)
      nil
    end

    # Delete Multiple Stories
    # Delete Multiple Stories allows you to delete multiple archived stories at once.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_multiple_stories_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_multiple_stories ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.delete_multiple_stories"
      end
      # resource path
      local_var_path = '/api/v3/stories/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_multiple_stories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Project
    # Delete Project can be used to delete a Project. Projects can only be deleted if all associated Stories are moved or deleted. In the case that the Project cannot be deleted, you will receive a 422 response.
    # @param project_public_id The unique ID of the Project.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_project(project_public_id, opts = {})
      delete_project_with_http_info(project_public_id, opts)
      nil
    end

    # Delete Project
    # Delete Project can be used to delete a Project. Projects can only be deleted if all associated Stories are moved or deleted. In the case that the Project cannot be deleted, you will receive a 422 response.
    # @param project_public_id The unique ID of the Project.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_project_with_http_info(project_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_project ...'
      end
      # verify the required parameter 'project_public_id' is set
      if @api_client.config.client_side_validation && project_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_public_id' when calling DefaultApi.delete_project"
      end
      # resource path
      local_var_path = '/api/v3/projects/{project-public-id}'.sub('{' + 'project-public-id' + '}', project_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Story
    # Delete Story can be used to delete any Story.
    # @param story_public_id The ID of the Story.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_story(story_public_id, opts = {})
      delete_story_with_http_info(story_public_id, opts)
      nil
    end

    # Delete Story
    # Delete Story can be used to delete any Story.
    # @param story_public_id The ID of the Story.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_story_with_http_info(story_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_story ...'
      end
      # verify the required parameter 'story_public_id' is set
      if @api_client.config.client_side_validation && story_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_public_id' when calling DefaultApi.delete_story"
      end
      # resource path
      local_var_path = '/api/v3/stories/{story-public-id}'.sub('{' + 'story-public-id' + '}', story_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_story\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Story Comment
    # Delete a Comment from any story.
    # @param story_public_id The ID of the Story that the Comment is in.
    # @param comment_public_id The ID of the Comment.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_story_comment(story_public_id, comment_public_id, opts = {})
      delete_story_comment_with_http_info(story_public_id, comment_public_id, opts)
      nil
    end

    # Delete Story Comment
    # Delete a Comment from any story.
    # @param story_public_id The ID of the Story that the Comment is in.
    # @param comment_public_id The ID of the Comment.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_story_comment_with_http_info(story_public_id, comment_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_story_comment ...'
      end
      # verify the required parameter 'story_public_id' is set
      if @api_client.config.client_side_validation && story_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_public_id' when calling DefaultApi.delete_story_comment"
      end
      # verify the required parameter 'comment_public_id' is set
      if @api_client.config.client_side_validation && comment_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_public_id' when calling DefaultApi.delete_story_comment"
      end
      # resource path
      local_var_path = '/api/v3/stories/{story-public-id}/comments/{comment-public-id}'.sub('{' + 'story-public-id' + '}', story_public_id.to_s).sub('{' + 'comment-public-id' + '}', comment_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_story_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Story Link
    # Removes the relationship between the stories for the given Story Link.
    # @param story_link_public_id The unique ID of the Story Link.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_story_link(story_link_public_id, opts = {})
      delete_story_link_with_http_info(story_link_public_id, opts)
      nil
    end

    # Delete Story Link
    # Removes the relationship between the stories for the given Story Link.
    # @param story_link_public_id The unique ID of the Story Link.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_story_link_with_http_info(story_link_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_story_link ...'
      end
      # verify the required parameter 'story_link_public_id' is set
      if @api_client.config.client_side_validation && story_link_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_link_public_id' when calling DefaultApi.delete_story_link"
      end
      # resource path
      local_var_path = '/api/v3/story-links/{story-link-public-id}'.sub('{' + 'story-link-public-id' + '}', story_link_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_story_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Story Reaction
    # Delete a reaction from any story comment.
    # @param body 
    # @param story_public_id The ID of the Story that the Comment is in.
    # @param comment_public_id The ID of the Comment.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_story_reaction(body, story_public_id, comment_public_id, opts = {})
      delete_story_reaction_with_http_info(body, story_public_id, comment_public_id, opts)
      nil
    end

    # Delete Story Reaction
    # Delete a reaction from any story comment.
    # @param body 
    # @param story_public_id The ID of the Story that the Comment is in.
    # @param comment_public_id The ID of the Comment.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_story_reaction_with_http_info(body, story_public_id, comment_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_story_reaction ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.delete_story_reaction"
      end
      # verify the required parameter 'story_public_id' is set
      if @api_client.config.client_side_validation && story_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_public_id' when calling DefaultApi.delete_story_reaction"
      end
      # verify the required parameter 'comment_public_id' is set
      if @api_client.config.client_side_validation && comment_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_public_id' when calling DefaultApi.delete_story_reaction"
      end
      # resource path
      local_var_path = '/api/v3/stories/{story-public-id}/comments/{comment-public-id}/reactions'.sub('{' + 'story-public-id' + '}', story_public_id.to_s).sub('{' + 'comment-public-id' + '}', comment_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_story_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Task
    # Delete Task can be used to delete any previously created Task on a Story.
    # @param story_public_id The unique ID of the Story this Task is associated with.
    # @param task_public_id The unique ID of the Task.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_task(story_public_id, task_public_id, opts = {})
      delete_task_with_http_info(story_public_id, task_public_id, opts)
      nil
    end

    # Delete Task
    # Delete Task can be used to delete any previously created Task on a Story.
    # @param story_public_id The unique ID of the Story this Task is associated with.
    # @param task_public_id The unique ID of the Task.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_task_with_http_info(story_public_id, task_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_task ...'
      end
      # verify the required parameter 'story_public_id' is set
      if @api_client.config.client_side_validation && story_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'story_public_id' when calling DefaultApi.delete_task"
      end
      # verify the required parameter 'task_public_id' is set
      if @api_client.config.client_side_validation && task_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_public_id' when calling DefaultApi.delete_task"
      end
      # resource path
      local_var_path = '/api/v3/stories/{story-public-id}/tasks/{task-public-id}'.sub('{' + 'story-public-id' + '}', story_public_id.to_s).sub('{' + 'task-public-id' + '}', task_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Disable Groups
    # Disables Groups for the current workspace2
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def disable_groups(opts = {})
      disable_groups_with_http_info(opts)
      nil
    end

    # Disable Groups
    # Disables Groups for the current workspace2
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def disable_groups_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.disable_groups ...'
      end
      # resource path
      local_var_path = '/api/v3/groups/disable'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#disable_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Disable Iterations
    # Disables Iterations for the current workspace
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def disable_iterations(opts = {})
      disable_iterations_with_http_info(opts)
      nil
    end

    # Disable Iterations
    # Disables Iterations for the current workspace
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def disable_iterations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.disable_iterations ...'
      end
      # resource path
      local_var_path = '/api/v3/iterations/disable'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#disable_iterations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Disable Story Templates
    # Disables the Story Template feature for the given Organization.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def disable_story_templates(opts = {})
      disable_story_templates_with_http_info(opts)
      nil
    end

    # Disable Story Templates
    # Disables the Story Template feature for the given Organization.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def disable_story_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.disable_story_templates ...'
      end
      # resource path
      local_var_path = '/api/v3/entity-templates/disable'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#disable_story_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Enable Groups
    # Enables Groups for the current workspace2
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def enable_groups(opts = {})
      enable_groups_with_http_info(opts)
      nil
    end

    # Enable Groups
    # Enables Groups for the current workspace2
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def enable_groups_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.enable_groups ...'
      end
      # resource path
      local_var_path = '/api/v3/groups/enable'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#enable_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Enable Iterations
    # Enables Iterations for the current workspace
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def enable_iterations(opts = {})
      enable_iterations_with_http_info(opts)
      nil
    end

    # Enable Iterations
    # Enables Iterations for the current workspace
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def enable_iterations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.enable_iterations ...'
      end
      # resource path
      local_var_path = '/api/v3/iterations/enable'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#enable_iterations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Enable Story Templates
    # Enables the Story Template feature for the given Organization.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def enable_story_templates(opts = {})
      enable_story_templates_with_http_info(opts)
      nil
    end

    # Enable Story Templates
    # Enables the Story Template feature for the given Organization.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def enable_story_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.enable_story_templates ...'
      end
      # resource path
      local_var_path = '/api/v3/entity-templates/enable'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#enable_story_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Category
    # Get Category returns information about the selected Category.
    # @param category_public_id The unique ID of the Category.
    # @param [Hash] opts the optional parameters
    # @return [Category]
    def get_category(category_public_id, opts = {})
      data, _status_code, _headers = get_category_with_http_info(category_public_id, opts)
      data
    end

    # Get Category
    # Get Category returns information about the selected Category.
    # @param category_public_id The unique ID of the Category.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Category, Integer, Hash)>] Category data, response status code and response headers
    def get_category_with_http_info(category_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_category ...'
      end
      # verify the required parameter 'category_public_id' is set
      if @api_client.config.client_side_validation && category_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_public_id' when calling DefaultApi.get_category"
      end
      # resource path
      local_var_path = '/api/v3/categories/{category-public-id}'.sub('{' + 'category-public-id' + '}', category_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Category' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Current Member Info
    # Returns information about the authenticated member.
    # @param [Hash] opts the optional parameters
    # @return [MemberInfo]
    def get_current_member_info(opts = {})
      data, _status_code, _headers = get_current_member_info_with_http_info(opts)
      data
    end

    # Get Current Member Info
    # Returns information about the authenticated member.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberInfo, Integer, Hash)>] MemberInfo data, response status code and response headers
    def get_current_member_info_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_current_member_info ...'
      end
      # resource path
      local_var_path = '/api/v3/member'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'MemberInfo' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_current_member_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Entity Template
    # Get Entity Template returns information about a given entity template.
    # @param entity_template_public_id The unique ID of the entity template.
    # @param [Hash] opts the optional parameters
    # @return [EntityTemplate]
    def get_entity_template(entity_template_public_id, opts = {})
      data, _status_code, _headers = get_entity_template_with_http_info(entity_template_public_id, opts)
      data
    end

    # Get Entity Template
    # Get Entity Template returns information about a given entity template.
    # @param entity_template_public_id The unique ID of the entity template.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EntityTemplate, Integer, Hash)>] EntityTemplate data, response status code and response headers
    def get_entity_template_with_http_info(entity_template_public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_entity_template ...'
      end
      # verify the required parameter 'entity_template_public_id' is set
      if @api_client.config.client_side_validation && entity_template_public_id.nil?
        fail ArgumentError, "Missing the required parameter 'entity_template_public_id' when calling DefaultApi.get_entity_template"
      end
      # resource path
      local_var_path = '/api/v3/entity-templates/{entity-template-public-id}'.sub('{' + 'entity-template-public-id' + '}', entity_template_public_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'EntityTemplate' 

      auth_names = opts[:auth_names] || ['api_token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_entity_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Epic
    # Get Epic returns information about the selected Epic.
    # @param epic_public_id The unique ID of the Epic.
    # @param [Hash] opts the optional parameters
[...]
